*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


@font-face {
    font-family: 'Ahellya';
    src: local('Ahellya'), url('../fonts/ahellya.woff2') format('woff2'), url('../fonts/ahellya.woff') format('woff'), url('../fonts/ahellya.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ahellya';
    src: local('Ahellya Italic'), local('Ahellya-Italic'), url('../fonts/ahellyaitalic.woff2') format('woff2'), url('../fonts/ahellyaitalic.woff') format('woff'), url('../fonts/ahellyaitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('ConsolaMono-Bold'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.fa-2x{
	font-size: 1.5em !important;
}

body{
	background:#EEEDED;
}


/*start header*/
header{
	width: 100%;
	background: linear-gradient(250deg, #12B55B,  #1BB675);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: fixed;
}
	.in-up-header-div{
		width:100%;
		height: 60px;
		overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		color:white;
	}
		.in-up-header-div div{
			float:left;
		}
		.in-up-header-in-left-div{
			padding-left: 20px;
			width:25%;
		}
		.bar-icon-div{
			width:20%;
			float: left;
		}
			.bar-icon-div i{
				line-height: 40px;		
				cursor: pointer;
			}
		.in-up-header-in-left-div h2{
			line-height: 40px;
			font-family: Roboto;
			font-size:1.2em;
		}
		.in-up-header-in-center-div{
			width:50%;
		}
		.search-icon{
			position: absolute;
			margin-top:10px;
			margin-left:10px;
			color:rgba(255,255,255,0.7);
		}
		.in-up-header-in-center-div input{
			width:100%;
			background: rgba(255,255,255,0.3);
			border:none;
			height:40px;
			border-radius: 4px;
			font-family: Roboto;
			outline: none;
			padding-left: 40px;
			color:rgba(255,255,255,0.9);
		  	font-size:0.95em;
		}
		.in-up-header-in-center-div input::-webkit-input-placeholder{
		  	color:rgba(255,255,255,0.7);
		  	font-size:1em;
		}
		.in-up-header-in-right-div{
			width:25%;
			text-align: right;
			padding-right: 60px;
			line-height: 50px;
		}
	.in-down-header-div{
		width: 100%;
		height:50px;
		overflow: visible;
		text-align: center;
	}
		.in-down-header-div ul{
			list-style: none;
		}
			.in-down-header-div ul a{
						text-decoration: none;
						color:inherit;
					}
				.in-down-header-div ul a li{  
					display: inline-block;
					color: white;
					line-height: 49px;
					width:10%;					
					font-size:0.8em;
					font-family: Roboto;
					text-transform: uppercase;
					font-weight:bold;
					cursor: pointer;
					transition:5s;
					text-shadow: 0 0 5px rgba(255,255,255,0.3);
				}
					
				.bottomline{
					border-bottom: 2px solid white;
				}
				.typechange1 .typechange1, .typechange2 .typechange2, .typechange3 .typechange3, .typechange4 .typechange4{
					border-bottom: 2px solid white;
				}
				
/*end header*/




/*start body*/
.in-body-left-div,
.in-body-right-div{
	float: left;
}
.in-body-left-div{
	width:15%;
	/*border-right: 1px solid rgba(0,0,0,0.3);*/
	height:500px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:30px;
	padding-bottom:30px;
	position: fixed;
	margin-top: 110px;
}
.ng-hide-add{
	transition: 1s;
	opacity: 1;
	transform: translateX(0px);
}
.ng-hide-add-active{
	opacity: 0;
	transform: translateX(-100px);
}
.ng-hide-remove{
	transition: 1s;
	opacity: 0;
	transform: translateX(-100px);
}
.ng-hide-remove-active{
	opacity: 1;
	transform: translateX(0px);
}

	.in-body-left-div ul{
		list-style: none;
	}
		.in-body-left-div ul li{
			width:100%;
			height:45px;
			color:gray;
			font-family: Roboto;
			font-weight:bold;
			font-size: 0.99em;
		}	
			.in-body-left-icon-div, .in-body-left-text-div{
				float:left;
			}
			.in-body-left-icon-div{
				width:35%;
				text-align:center;
			}
			.in-body-left-text-div{
				width:65%;
			}
				.in-body-left-text-div a{
					text-decoration: none;
					color:inherit;
				}
			.in-body-left-div ul li i{
				margin-right: 20px;
			}
.in-body-right-div{
	width:85%;
	padding-left: 80px;
	padding-right: 80px;
	padding-top:30px;
	padding-bottom:30px;
	margin-top: 110px;
	margin-left: 15%;
	transition: 1s;
}
.in-body-right-div-active{
	margin-left: 0% !important;
	width:100% !important;
	padding-left: 10% !important;
	padding-right: 10% !important;

}

	.in-body-right-div h1{
		font-size:1em;
		font-family: Roboto;
		font-weight: bold;
		text-shadow: 0 0 1px rgba(0,0,0,0.2);
		color:rgba(0,0,0,0.5);
		margin-bottom: 30px;
		margin-left: 10px;
	}
	.in-body-part-div{
		width: 23%;
		float: left;
		height: 250px;
		background: white;
		overflow: hidden;
		margin: 1%;
		margin-top:0%;
		margin-bottom:3%;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
		.in-body-part-img-div{
			width:100%;
			height:120px;
			overflow: hidden;
		}
			.in-body-part-img-div img{
				max-width: 100%;
			}
		.in-body-part-desc-div{
			width: 100%;
			height: 100px;
			overflow: hidden;
			padding: 8px;
		}
			.in-body-part-desc-div h3{
				font-size:0.9em;
				font-family: Roboto;
				font-weight: 300;
				text-shadow: 0 0 1px rgba(0,0,0,0.2);
				color:rgba(0,0,0,0.9);
			}
			.in-body-part-desc-div p{
				font-size:0.8em;
				font-family: Roboto;
				font-weight: 300;				
				color:rgba(0,0,0,0.9);
			}
		.in-body-part-action-div{
			width: 100%;
			height: 30px;
			overflow: hidden;
			padding-left: 8px;
			padding-right: 8px;
		}
			.in-body-part-action-div button{
				border:none;
				background: none;
				font-family: Roboto;
				text-transform: uppercase;
				font-weight: bold;
				color: #12B55B;
				text-shadow: 0 0 1px rgba(0,0,0,0.2);
				cursor: pointer;
			}
/*end body*/






/*

	[ng-cloak], .ng-cloak{
		display: none;
	}*/